@font-face {
    font-family: 'Lexend Mega', sans-serif;
    src: url('./webfont/LexendMega-Black.woff') format('woff'),
        url('./webfont/LexendMega-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lexend Mega', sans-serif;
    src: url('./webfont/LexendMega-ExtraBold.woff') format('woff'),
        url('./webfont/LexendMega-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Lexend Mega', sans-serif;
    src: url('./webfont/LexendMega-Bold.woff') format('woff'),
        url('./webfont/LexendMega-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lexend Mega', sans-serif;
    src: url('./webfont/LexendMega-SemiBold.woff') format('woff'),
        url('./webfont/LexendMega-SemiBold.woff2') format('woff2');
    font-weight:  600;
    font-style: normal;
}

@font-face {
    font-family: 'Lexend Mega', sans-serif;
    src: url('./webfont/LexendMega-Medium.woff') format('woff'),
        url('./webfont/LexendMega-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lexend Mega', sans-serif;
    src: url('./webfont/LexendMega-Regular.woff') format('woff'),
        url('./webfont/LexendMega-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lexend Mega', sans-serif;
    src: url('./webfont/LexendMega-Light.woff') format('woff'),
        url('./webfont/LexendMega-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lexend Mega', sans-serif;
    src: url('./webfont/LexendMega-ExtraLight.woff') format('woff'),
        url('./webfont/LexendMega-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Lexend Mega', sans-serif;
    src: url('./webfont/LexendMega-Thin.woff') format('woff'),
        url('./webfont/LexendMega-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans JP';
    src: url('./webfont/NotoSansJP-Black.woff') format('woff'),
        url('./webfont/NotoSansJP-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans JP';
    src: url('./webfont/NotoSansJP-Bold.woff') format('woff'),
        url('./webfont/NotoSansJP-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans JP';
    src: url('./webfont/NotoSansJP-Medium.woff') format('woff'),
        url('./webfont/NotoSansJP-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans JP';
    src: url('./webfont/NotoSansJP-Regular.woff') format('woff'),
        url('./webfont/NotoSansJP-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans JP';
    src: url('./webfont/NotoSansJP-Light.woff') format('woff'),
        url('./webfont/NotoSansJP-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans JP';
    src: url('./webfont/NotoSansJP-Thin.woff') format('woff'),
        url('./webfont/NotoSansJP-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}